# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SERVICE_URL=http://localhost:4566

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUALHOST=/

# Filas
RABBITMQ_QUEUE_VIDEO_PROCESSING=video.processing.input
RABBITMQ_QUEUE_VIDEO_COMPLETED=video.processing.completed

# Application
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
FAKE_CHECKOUT_ENABLED=true
